In [75]:
# Question 1
inp = int(input())
array = [10,20,10,40,50]
count = 0
for x in array:
    if x == inp:
        count += 1
    else:
        pass
print(count)

10
2

In [15]:
# Question 2
def prime(N):
    if N == 2:
        result = "Prime Number"
    elif N > 2:
        for i in range(2,N):
            if (N % i) == 0:
                result = "This is a not Prime Number"
                break
            else:
                continue
        else:
            result = "This is a Prime Number"
    else:
        print("Wrong Input")
        
    return result

if __name__ == '__main__':
    inp = int(input())
    print(prime(inp))

25
This is a not Prime Number

In [ ]:
# Question 3
# table_name = 'employees', column -> 'name' 
SELECT name, count(name) AS dup_counts FROM employees GROUP BY name HAVING dup_counts > 1

In [ ]:
# Question 4 
SELECT name,department_names FROM employees

In [ ]:
# Question 5
SELECT CONCAT(first_name, ' ', last_name) AS full_name FROM employees

In [ ]:
# Question 6
SELECT * FROM address WHERE city_name LIKE '%s'

In [ ]:
# Question 7
SELECT MIN(price) FROM products

In [ ]:
# Question 8
SELECT * FROM transactions WHERE DATE(transaction_date) = DATE(NOW())

In [6]:
# Twitter Task
import pandas as pd
import time

def time_calc(df):
    time_diff = []
    for x in df['Time']:
        curr_diff = abs(x - time.time())
        if curr_diff > 0 and curr_diff < 60:
            time_diff.append(str( int(curr_diff) ) + 'seconds ago')
        elif curr_diff >= 60 and curr_diff < 3600:
            time_diff.append(str(int(curr_diff / 60)) + 'minutes ago')
        elif curr_diff >= 3600 and curr_diff < 86400:
            time_diff.append(str( int(curr_diff / (60*60)) ) + 'Hours ago')
        else:
            time_diff.append(str( int(curr_diff / (60*60*24)) ) + 'Days ago')
    df['time_diff'] = time_diff
    df.drop(columns=df.columns[0], axis=1,  inplace=True)
    print(df)
        
def process_(inp):
    df = pd.DataFrame()
    name, msg, timee = [],[],[] 
    for _ in range(inp):
        name_input = str(input("Enter the Name here: "))
        message_input = str(input("Enter the Message: "))
        name.append(name_input)
        msg.append(message_input)
        timee.append(time.time())
    id_ = [x for x in range(1, inp + 1)]  
    df['id'],df['Name'],df['Message'],df['Time'] = id_,name, msg, timee 
    df.to_csv('C:\\Users\\harip\\twitter.csv')
    
    df = pd.read_csv('C:\\Users\\harip\\twitter.csv')
    time_calc(df)


if __name__ == '__main__':
    inp = int(input())
    twitter = process_(inp)

2
Enter the Name here: aaaa
Enter the Message: this is aaaa
Enter the Name here: bbb
Enter the Message: this is bbbb
   id  Name       Message          Time     time_diff
0   1  aaaa  this is aaaa  1.707122e+09  5seconds ago
1   2   bbb  this is bbbb  1.707122e+09  0seconds ago